<h1> Sorry, Charlie! We don't recognize the words in that string!</h1>

<p>Would you like to try another?</p>

<form>
  String:<br>
  <input type="text" name="String"><br>
  <input type="submit" value="Segment!">
  <form action="/welcome" method="get">

</form>