<h1>Cool!</h1>

<p>Your string is made of the words: <%= @x %></p>

<p>Would you like to try another?</p>

<form method="GET" action=/newstring> 
  String:<br>
  <input type="text" name="input"><br>
  <input type="submit" value="Segment!">
  <form action="/welcome" method="get">
</form>