<h1>Welcome!</h1>

<p>Input your string to have it segmented into words!</p>

<form method="GET" action=/newstring> 
  String:<br>
  <input type="text" name="input"><br>
  <input type="submit" value="Segment!">
  <form action="/welcome" method="get">
</form>